.alt-header {
  color: green;
}

ol.progtrckr {
  margin: 0;
  padding-bottom: 2.2rem;
  list-style-type: none;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  padding: 0 0.7rem;
  cursor: pointer;
}
ol.progtrckr li span {
  padding: 0 1.5rem;
}
@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}
@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #33c3f0;
}
ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #33c3f0;
}
ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}
ol.progtrckr li.progtrckr-todo:hover:before {
  color: #0fa0ce;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #33c3f0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-doing:hover:before {
  color: #0fa0ce;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #33c3f0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-done:hover:before {
  color: #0fa0ce;
}

body {
  background-color: #eee;
}
.jss447 {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  border: 0;
  display: flex;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  font-size: 0.875rem;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 30px;
  border-radius: 6px;
  flex-direction: column;
}
.jss1780 {
  flex: 1 1 auto;
  padding: 0.9375rem 20px;
  position: relative;
  -webkit-box-flex: 1;
}
.jss1421 {
  position: relative;
}
.jss1422 {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  background-color: rgba(200, 200, 200, 0.2);
}
.jss1423 {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 0;
}
.jss1424 {
  color: #555555 !important;
  cursor: pointer;
  border: 0 !important;
  display: block;
  padding: 10px 15px;
  position: relative;
  font-size: 12px;
  min-width: 100px;
  transition: all 0.3s;
  text-align: center;
  line-height: 18px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
.jss1428 {
  top: -4px;
  left: 0px;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  position: absolute;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
}
.jss1434 {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
  background-color: #e91e63;
}

.customTrans {
  transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
  width: 130px;
  transform: translate3d(-8px, 0px, 0px);
}

.movingTab {
  position: "absolute";
  text-align: "center";
  padding: "12px";
  font-size: "12px";
  text-transform: "uppercase";
  -webkit-font-smoothing: subpixel-antialiased;
  top: "-4px";
  left: "0px";
  border-radius: "4px";
  color: white;
  cursor: "pointer";
  font-weight: "500";
}
